
@{
    ViewBag.Title = "AdminDash";
}

<h2>AdminDash</h2>

<p>
    <a href="@Url.Action("AddNewMovie","Movie")"
       class="btn btn-primary btn-lg">Add Movies</a>
    <a href="@Url.Action("MovieListAdmin","Movie")"
       class="btn btn-primary btn-lg">ViewMovies</a>
    <a href="@Url.Action("CustomerName","Customer")"
       class="btn btn-primary btn-lg">Customers</a>

</p>